<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <controlSources>
      <source mode="on" namespace="JCore.SitecoreModules.ImageCropping.Data.Fields" assembly="JCore.SitecoreModules.ImageCropping" prefix="contentExtensionJCore"/>
    </controlSources>
    
    <pipelines>
      <getMediaStream>
        <processor type="JCore.SitecoreModules.ImageCropping.Pipelines.GetMediaStream.CropProcessor, JCore.SitecoreModules.ImageCropping" patch:after="*[@type='Sitecore.Resources.Media.ThumbnailProcessor, Sitecore.Kernel']" />
      </getMediaStream>
      <renderField>
        <processor type="JCore.SitecoreModules.ImageCropping.Pipelines.RenderField.GetImageWithCroppingValue, JCore.SitecoreModules.ImageCropping" patch:after="*[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']" />
      </renderField>
    </pipelines>
    <mediaLibrary>
      <requestProtection>
        <protectedMediaQueryParameters>
          <parameter description="cropregion" name="cropregion"/>          
        </protectedMediaQueryParameters>
      </requestProtection>
    </mediaLibrary>
  </sitecore>
</configuration>